<mat-drawer-container class="example-container w-full h-full" autosize>
  <mat-drawer #drawer mode="side" class="!flex flex-col flex-auto min-w-0 relative h-full w-2/3" position="end">
    <div class="relative flex flex-col h-full w-full overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer>
  <mat-drawer-content class="!flex flex-col flex-auto min-w-0 relative bg-white !h-[90vh]">
    <div class="relative border-b flex flex-col">
      <div class="grid grid-cols-3 gap-2 p-2 py-2 items-center">
        <mat-form-field appearance="outline" class="lg:text-sm text-xs">
          <mat-label>Tiêu Đề</mat-label>
          <input matInput (keyup)="applyFilter($event)" class="w-full" placeholder="Mô Tả">
          <span matPrefix class="material-symbols-outlined mr-2">search</span>
        </mat-form-field>
        <mat-form-field appearance="outline" class="lg:text-sm text-xs">
          <mat-label>Chọn Khoảng Thời Gian</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="Từ Ngày" [(ngModel)]="SearchParams.Batdau" [ngModelOptions]="{standalone: true}">
            <input matEndDate placeholder="Đến Ngày" [(ngModel)]="SearchParams.Ketthuc" [ngModelOptions]="{standalone: true}">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
              <button mat-button matDateRangePickerCancel>Huỷ</button>
              <button mat-raised-button color="primary" matDateRangePickerApply>Đồng ý</button>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>
        </mat-form-field>
   <div class="flex flex-row space-x-2">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <span class="material-symbols-outlined">more_vert</span>
        </button>
      </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog(dialogTemplate);Detail = {}">
            <div class="flex flex-row space-x-2 items-center">
              <span class="material-symbols-outlined text-xl" matTooltip="Tùy Chỉnh">add_circle</span>
              <span class="text-sm">Thêm Mới</span>
            </div>
          </button>
          <button mat-menu-item>
            <div class="flex flex-row space-x-2 items-center">
              <span class="material-symbols-outlined text-xl" matTooltip="Tùy Chỉnh">tune</span>
              <span class="text-sm">Cấu Hình</span>
            </div>
          </button>
          <button mat-menu-item>
            <div class="flex flex-row space-x-2 items-center">
              <span class="material-symbols-outlined text-xl" matTooltip="Lấy Mẫu">file_download</span>
              <span class="text-sm">Download</span>
            </div>
          </button>
          <button mat-menu-item>
            <div class="flex flex-row space-x-2 items-center">
              <span class="material-symbols-outlined text-xl" matTooltip="Upload File">file_upload</span>
              <span class="text-sm">Upload</span>
            </div>
          </button>
        </mat-menu>
      </div>
      <div class="flex flex-row space-x-3 p-2 items-center">
          <div class="flex flex-row space-x-3 cursor-pointer">
            <div (click)="RefreshAllToken()" 
              class="flex flex-col items-center p-2 hover:bg-gray-200 rounded-lg">
              <span class="material-symbols-outlined text-xl" matTooltip="Upload File">restart_alt</span>
              <span class="text-xs">Refresh Token</span>
            </div>
          </div>
          <div class="flex flex-row space-x-3 cursor-pointer">
            <div (click)="GetAllFromZalo()" 
              class="flex flex-col items-center p-2 hover:bg-gray-200 rounded-lg">
              <span class="material-symbols-outlined text-xl" matTooltip="Upload File">cloud_sync</span>
              <span class="text-xs">Đồng bộ Đánh Giá</span>
            </div>
          </div>
          <div class="flex flex-row space-x-3 cursor-pointer">
            <div (click)="openDialog(dialogTemplate);Detail = {}"
              class="flex flex-col items-center p-2 hover:bg-gray-200 rounded-lg">
              <span class="material-symbols-outlined text-xl" matTooltip="Upload File">add_circle</span>
              <span class="text-xs">Thêm Mới</span>
            </div>
          </div>
        </div>
    </div>
    <div class="relative flex flex-col h-full w-full overflow-auto">
      <div class="flex flex-col">
        <div class="flex flex-row justify-between items-center p-4 hover:bg-gray-200 border border-b"
          *ngFor="let item of FilterLists; let i = index">
         <div class="flex flex-row space-x-2 items-center justify-between w-full" routerLinkActive="font-bold">
            <div class="flex flex-row space-x-4 items-center">
              <img [src]="item.Image.src||'https://tazaskinclinic.com/images/taza-skin-clinic-logo.svg'" class="h-10">
              <div class="flex flex-col space-y-2">
                <span>{{item.Title}}</span>
                <span class="italic text-xs">{{item.oa_id}}</span>              
                <ng-container *ngIf="Checktime(Today,item.AuthenEnd)?.status; else elseTemplate">
                  <div class="flex flex-row {{Checktime(Today,item.AuthenEnd).text}} items-center">
                    <span class="material-symbols-outlined">
                      check_circle
                      </span>
                    <span class="italic text-xs"> {{Checktime(Today,item.AuthenEnd).message}}</span>
                  </div>
                  <div class="cursor-pointer flex flex-row space-x-3 items-center text-blue-600">
                    <span matTooltip="Reset Token" class="material-symbols-outlined text-green-600" (click)="getrefreshToken(item)">
                      restart_alt
                      </span>
                      <span (click)="Xacthuc(item)" matTooltip="Get Token" class="material-symbols-outlined">
                        key
                      </span>
                      <span (click)="GetFromZalo(item)" matTooltip="Đồng Bộ Đánh Giá" class="material-symbols-outlined">
                        cloud_sync
                      </span>
                      <span [cdkCopyToClipboard]="item.Token.access_token" matTooltip="Sao Chép Token" class="material-symbols-outlined">
                        content_copy
                      </span>
                  </div>
                </ng-container>
              </div>
              <ng-template #elseTemplate>
                <div class="flex flex-row space-x-1 {{Checktime(Today,item.AuthenEnd).text}} items-center">
                  <span class="material-symbols-outlined">
                    cancel
                  </span>
                  <span class="italic text-xs"> {{Checktime(Today,item.AuthenEnd).message}}</span>
                </div>
              </ng-template>
            </div>
            <button mat-icon-button (click)="openDeleteDialog(dlgDeleteTemplate,item)">
              <span class="material-symbols-outlined text-xl text-red-500" matTooltip="Xoá">delete</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<ng-template #dialogTemplate>
  <div class="min-w-[672px]">
    <div mat-dialog-title>Thêm Mới</div>
    <div mat-dialog-content>
      <div class="flex flex-col w-full space-y-4 p-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tiêu Đề</mat-label>
          <input matInput [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" placeholder="Tiêu Đề">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Oa Zalo ID</mat-label>
          <input matInput [(ngModel)]="Detail.oa_id" [ngModelOptions]="{standalone: true}" placeholder="Oa Zalo ID">
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="flex flex-row space-x-2 justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>
<ng-template #dlgDeleteTemplate>
  <div>
    <div mat-dialog-title>Xoá</div>
    <div mat-dialog-content>
      <span class="font-bold text-red-500">Bạn Có Chắc Chắn Xoá</span>
    </div>
    <div mat-dialog-actions class="flex flex-row space-x-2 justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>