<div class="w-screen h-screen flex flex-col space-x-2 bg-gray-100">
  <mat-drawer-container class="example-container w-full h-full" autosize>
    <mat-drawer #drawer [mode]="DrawerMode" [opened]="isOpen" class="!flex flex-col flex-auto min-w-0 relative h-full"
      position="start">
      <div class="relative flex flex-col h-full w-64 overflow-auto">
        <div class="text-center p-2 flex border-b h-16">
          <img src="https://tazaskinclinic.com/images/taza-skin-clinic-logo.svg" class="h-12" />
        </div>
        <div class="relative flex flex-col h-full p-4 w-full overflow-auto">
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <div
                class="cursor-pointer flex flex-row space-x-2 justify-between p-3 w-full rounded-lg hover:bg-gray-100 hover:font-bold"
                [routerLink]="[node.Slug]" routerLinkActive="bg-gray-100 font-bold" (click)="ChoosenMenu()">
                <span>
                  {{node.Title}}
                </span>
              </div>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="pl-2">
              <div
                class="cursor-pointer flex flex-row space-x-2 items-center justify-between p-3 w-full rounded-lg hover:bg-gray-100 hover:font-bold">
                <span>
                  {{node.Title}}
                </span>
                <span mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.Title">
                  <span
                    class="material-symbols-outlined">{{treeControl.isExpanded(node)?'expand_more':'navigate_next'}}</span>
                </span>
              </div>
            </mat-tree-node>
          </mat-tree>
        </div>
        <div class="relative flex flex-0 items-center p-4 border-t">Taza Skin Clinic © 2023</div>

      </div>
    </mat-drawer>
    <mat-drawer-content class="!flex flex-col flex-auto min-w-0 relative bg-white">
      <div class="flex flex-row space-x-2 justify-between items-center py-2 px-4 border-b h-16">
        <div class="flex flex-row space-x-4 items-center">
          <button mat-icon-button><span class="material-symbols-outlined" (click)="drawer.toggle()">menu</span></button>
          <!-- <div class="w-full text-xs lg:flex hidden">
            <mat-form-field appearance="outline">
              <mat-label>Tìm Kiếm</mat-label>
              <input matInput (keyup)="applyFilter($event)" class="w-full" placeholder="Tìm Kiếm">
              <span matPrefix class="material-symbols-outlined mr-2">search</span>
            </mat-form-field>
          </div> -->
        </div>
        <div class="flex flex-row space-x-4 items-center">
          <!-- <app-notifications></app-notifications>
          <app-chatrealtime></app-chatrealtime> -->
          <app-profile></app-profile>
          <!-- <a href="/">
            <button mat-icon-button>
                <span class="material-symbols-outlined">
                  captive_portal
                </span>
            </button>
           </a> -->
        </div>
      </div>
      <div class="relative flex flex-col h-full w-full overflow-auto">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>