<mat-drawer-container class="example-container w-full h-full" autosize>
  <mat-drawer #drawer mode="side" class="!flex flex-col flex-auto min-w-0 relative h-full w-2/3" position="end">
    <div class="relative flex flex-col h-full w-full overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer>
  <mat-drawer-content class="!flex flex-col flex-auto min-w-0 relative bg-white !h-[90vh]">
    <div class="relative border-b flex flex-col">
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-2 p-2 items-center">
        <mat-form-field appearance="outline" class="text-xs">
          <mat-label>Tìm Kiếm</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Tìm Kiếm">
          <span matPrefix class="material-symbols-outlined mr-2">search</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Danh Mục</mat-label>
            <mat-select [(ngModel)]="SearchParams.idCN" [ngModelOptions]="{standalone: true}" (selectionChange)="onSelectChange($event)">
              <mat-option [value]="item.idVttech" *ngFor="let item of ListChiNhanh">{{item.Title}}</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Chọn Khoảng Thời Gian</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="Từ Ngày" [(ngModel)]="SearchParams.Batdau" [ngModelOptions]="{standalone: true}">
            <input matEndDate placeholder="Đến Ngày" [(ngModel)]="SearchParams.Ketthuc" [ngModelOptions]="{standalone: true}">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
              <button mat-button matDateRangePickerCancel>Huỷ</button>
              <button mat-raised-button color="primary" matDateRangePickerApply (click)="ChoosenDate()">Đồng ý</button>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>
    <div class="relative flex flex-col h-full w-full overflow-auto">
      <div class="border p-4 bg-slate-100">
        <table mat-table [dataSource]="dataSource" matSort class="w-full rounded-lg">
          <ng-container matColumnDef="Code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
            <td mat-cell *matCellDef="let row"> {{row.Code}} </td>
          </ng-container>
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
          </ng-container>
          <ng-container matColumnDef="SDT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SDT </th>
            <td mat-cell *matCellDef="let row"> {{row.SDT}} </td>
          </ng-container>
          <ng-container matColumnDef="SDT2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SDT2 </th>
            <td mat-cell *matCellDef="let row"> {{row.SDT2}} </td>
          </ng-container>
          <ng-container matColumnDef="Chinhanh">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Chi Nhánh </th>
            <td mat-cell *matCellDef="let row"> {{row.Chinhanh}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No data matching the filter</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize="10" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<ng-template #dialogTemplate>
  <div class="min-w-[672px]">
    <div mat-dialog-title>Thêm Mới</div>
    <div mat-dialog-content>
      <div class="flex flex-col w-full space-y-4 p-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tiêu Đề</mat-label>
          <input matInput [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" placeholder="Tiêu Đề">
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="flex flex-row space-x-2 justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>
<ng-template #dlgDeleteTemplate>
  <div>
    <div mat-dialog-title>Xoá</div>
    <div mat-dialog-content>
      <span class="font-bold text-red-500">Bạn Có Chắc Chắn Xoá</span>
    </div>
    <div mat-dialog-actions class="flex flex-row space-x-2 justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>
