<div class="!flex flex-col flex-auto min-w-0 relative bg-white">
  <div class="relative border-b flex flex-row justify-between items-center p-2">
    <span class="material-icons p-3 hover:bg-gray-200 rounded-full" [routerLink]="['../']" (click)="CloseDrawer()">
      arrow_back
    </span>
    <div class="text-xl">{{Detail.Title}}</div>
    <div class="flex flex-row space-x-2">
      <button mat-raised-button color="primary" (click)="Update(Detail)">Cập Nhật</button>
      <button mat-raised-button color="warn"  (click)="XoaDialog(XoaTeamplate)">Xoá</button>
    </div>
  </div>
  <div class="relative h-full w-full overflow-auto flex flex-col space-y-2 justify-between p-4">
    <div class="flex flex-col space-y-3 p-4">
        <div class="w-full mx-auto grid gap-2 p-3">
          <mat-form-field appearance="outline">
            <mat-label>Menu Cha</mat-label>
            <mat-select [(ngModel)]="Detail.pid" [ngModelOptions]="{standalone: true}">
              <mat-option [value]="item.id" *ngFor="let item of List">{{item.Title}}</mat-option>
            </mat-select>
          </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Tiêu Đề</mat-label>
              <input [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" matInput type="text"
                class="w-full" placeholder="Tiêu Đề" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Liên Kết</mat-label>
              <input [(ngModel)]="Detail.Slug" [ngModelOptions]="{standalone: true}" matInput type="text"
                class="w-full" placeholder="Liên Kết" />
            </mat-form-field>            
            <mat-form-field appearance="outline">
              <mat-label>Ordering</mat-label>
              <input [(ngModel)]="Detail.Ordering" [ngModelOptions]="{standalone: true}" matInput type="text"
                class="w-full" placeholder="Ordering" />
            </mat-form-field>            
        </div>
      </div>
    </div>
  </div>

    <ng-template #XoaTeamplate>
      <div class="p-2 flex flex-col space-y-3">
        <div mat-dialog-title>Xoá</div>
        <div mat-dialog-content>
          <div class="flex flex-col w-full space-y-4 lg:p-4">
              Bạn chắc chắn muốn Xoá?
          </div>
          <div class="flex flex-row space-x-2 items-center justify-center">
            <button mat-flat-button color="warn" mat-dialog-close="false">Huỷ</button>
            <button mat-flat-button color="primary" mat-dialog-close="true">Đồng Ý</button>
          </div>
        </div>
      </div>
    </ng-template>
  
  