<div class="p-5 border rounded-lg">
  <div class="grid lg:grid-cols-2 grid-cols-1 gap-4 items-center text-center">
    <div class="text-xl font-bold">Thông Kê Gửi ZNS Xác Nhận Thanh Toán</div>
    <div>
      <mat-form-field appearance="outline" class="lg:text-sm text-xs">
        <mat-label>Chọn Khoảng Thời Gian</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
          <input matStartDate placeholder="Từ Ngày" [(ngModel)]="SearchParams.Batdau"
            [ngModelOptions]="{standalone: true}">
          <input matEndDate placeholder="Đến Ngày" [(ngModel)]="SearchParams.Ketthuc"
            [ngModelOptions]="{standalone: true}">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Huỷ</button>
            <button mat-raised-button color="primary" matDateRangePickerApply (click)="LoadData()">Đồng ý</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
  <div id="chart">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions" [responsive]="chartOptions.responsive" [xaxis]="chartOptions.xaxis"
      [legend]="chartOptions.legend" [fill]="chartOptions.fill"></apx-chart>
  </div>
</div>