<mat-drawer-container class="w-full h-[100vh]" autosize>
  <mat-drawer-content class="relative !flex flex-col h-screen-16 flex-auto min-w-0 bg-white">
    <div class="relative flex flex-col h-full w-full">
      <div class="relative flex flex-col">
        <div class="flex flex-row space-x-2 justify-between items-center p-2">
          <mat-form-field appearance="outline" class="w-full text-xs">
            <mat-label>Tiêu Đề</mat-label>
            <input matInput (keyup)="applyFilter($event)" class="w-full" placeholder="Mô Tả">
            <span matPrefix class="material-symbols-outlined mr-2">search</span>
          </mat-form-field>
          <button mat-icon-button [matMenuTriggerFor]="menu1">
            <span class="material-symbols-outlined">more_vert</span>
          </button>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item (click)="openDialog(dialogTemplate);Detail = {}">
              <div class="flex flex-row space-x-2 items-center">
                <span class="material-symbols-outlined text-xl" matTooltip="Tùy Chỉnh">add_circle</span>
                <span class="text-sm">Thêm Danh Mục</span>
              </div>
            </button>
            <button mat-menu-item>
              <div class="flex flex-row space-x-2 items-center">
                <span class="material-symbols-outlined text-xl" matTooltip="Tùy Chỉnh">tune</span>
                <span class="text-sm">Cấu Hình</span>
              </div>
            </button>
            <button mat-menu-item>
              <div class="flex flex-row space-x-2 items-center">
                <span class="material-symbols-outlined text-xl" matTooltip="Lấy Mẫu">file_download</span>
                <span class="text-sm">Download</span>
              </div>
            </button>
            <button mat-menu-item>
              <div class="flex flex-row space-x-2 items-center">
                <span class="material-symbols-outlined text-xl" matTooltip="Upload File">file_upload</span>
                <span class="text-sm">Upload</span>
              </div>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="relative flex flex-col h-full w-full overflow-auto p-4">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="text-primary">
          <mat-tree-node class="flex flex-row justify-between" *matTreeNodeDef="let node" matTreeNodePadding>
              <ng-container *ngIf="node.isDM; else elseTemplate2">
                <a (click)="drawer.open()" [routerLink]="['danhmuc/'+node.id]" routerLinkActive="bg-gray-100 font-bold"
                class="p-3 rounded-lg hover:bg-gray-100 hover:font-bold">{{node.Title}}</a>
              </ng-container>
              <ng-template #elseTemplate2>
                <div class="flex flex-row space-x-2 items-center">
                <span class="material-symbols-outlined {{node.Noibat?'text-yellow-500':''}}" (click)="UpdateNoibat(node)">
                  stars
                  </span>
                <a (click)="drawer.open()" [routerLink]="['chitiet/'+node.id]" routerLinkActive="bg-gray-100 font-bold"
                class="p-3 rounded-lg hover:bg-gray-100 hover:font-bold">{{node.Title}}</a>
              </div>
              </ng-template>            
            <button mat-icon-button [matMenuTriggerFor]="menu2">
              <span class="material-symbols-outlined">more_vert</span>
            </button>
            <mat-menu #menu2="matMenu">
              <ng-container *ngIf="node.isDM">
                <button mat-menu-item (click)="openDialog(dialogTemplate);Detail = {}">
                  <div class="flex flex-row space-x-2 items-center">
                    <span class="material-symbols-outlined text-xl" matTooltip="Tùy Chỉnh">add_circle</span>
                    <span class="text-sm">Thêm Danh Mục</span>
                  </div>
                </button>
                <button mat-menu-item (click)="openCreateDichvu(dlgCreateDichvu);Dichvu.idDM = node.id">
                  <div class="flex flex-row space-x-2 items-center">
                    <span class="material-symbols-outlined text-xl" matTooltip="Tùy Chỉnh">add_circle</span>
                    <span class="text-sm">Thêm Dịch Vụ</span>
                  </div>
                </button>
              </ng-container>
              <ng-container *ngIf="node.isDM; else elseTemplate3">
                <button mat-menu-item (click)="openDeleteCat(dialogDeleteCate)">
                  <div class="flex flex-row space-x-2 items-center">
                    <span class="material-symbols-outlined text-xl text-red-500" matTooltip="Upload File">delete</span>
                    <span class="text-sm">Xoá Danh Mục</span>
                  </div>
                </button>
              </ng-container>
              <ng-template #elseTemplate3>
                <button mat-menu-item (click)="openDeleteDichvu(dlgDeleteDichvu,node.id)">
                  <div class="flex flex-row space-x-2 items-center">
                    <span class="material-symbols-outlined text-xl text-red-500" matTooltip="Upload File">delete</span>
                    <span class="text-sm">Xoá Dịch Vụ {{node.isDM}}</span>
                  </div>
                </button>
              </ng-template>
            </mat-menu>
          </mat-tree-node>
          <mat-tree-node class="flex flex-row justify-between" *matTreeNodeDef="let node;when: hasChild"
            matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.Title">
                <span
                  class="material-symbols-outlined">{{treeControl.isExpanded(node)?'expand_more':'navigate_next'}}</span>
              </button>
              <ng-container *ngIf="node.isDM; else elseTemplate4">
                <a (click)="drawer.open()" [routerLink]="['danhmuc/'+node.id]" routerLinkActive="bg-gray-100 font-bold"
                class="p-3 rounded-lg hover:bg-gray-100 hover:font-bold">{{node.Title}}
              </a>
              </ng-container>
              <ng-template #elseTemplate4>
                
                <a (click)="drawer.open()" [routerLink]="['chitiet/'+node.id]" routerLinkActive="bg-gray-100 font-bold"
                class="p-3 rounded-lg hover:bg-gray-100 hover:font-bold">
                {{node.Title}}
              </a>
              </ng-template>
            <button mat-icon-button [matMenuTriggerFor]="menu3">
              <span class="material-symbols-outlined">more_vert</span>
            </button>
            <mat-menu #menu3="matMenu">
              <ng-container *ngIf="node.isDM">
                <button mat-menu-item (click)="openDialog(dialogTemplate);Detail = {}">
                  <div class="flex flex-row space-x-2 items-center">
                    <span class="material-symbols-outlined text-xl" matTooltip="Tùy Chỉnh">add_circle</span>
                    <span class="text-sm">Thêm Danh Mục</span>
                  </div>
                </button>
                <button mat-menu-item (click)="openCreateDichvu(dlgCreateDichvu);Dichvu.idDM = node.id">
                  <div class="flex flex-row space-x-2 items-center">
                    <span class="material-symbols-outlined text-xl" matTooltip="Tùy Chỉnh">add_circle</span>
                    <span class="text-sm">Thêm Dịch Vụ</span>
                  </div>
                </button>
              </ng-container>

              <ng-container *ngIf="node.isDM; else elseTemplate1">
                <button mat-menu-item (click)="openDeleteCat(dialogDeleteCate)">
                  <div class="flex flex-row space-x-2 items-center">
                    <span class="material-symbols-outlined text-xl text-red-500" matTooltip="Upload File">delete</span>
                    <span class="text-sm">Xoá Danh Mục</span>
                  </div>
                </button>
              </ng-container>
              <ng-template #elseTemplate1>
                <button mat-menu-item (click)="openDeleteDichvu(dlgDeleteDichvu,node.id)">
                  <div class="flex flex-row space-x-2 items-center">
                    <span class="material-symbols-outlined text-xl text-red-500" matTooltip="Upload File">delete</span>
                    <span class="text-sm">Xoá Dịch Vụ</span>
                  </div>
                </button>
              </ng-template>
            </mat-menu>
          </mat-tree-node>
        </mat-tree>
      </div>
      <div class="relative flex flex-0 items-center">
        Section3
    </div>
    </div>   
  </mat-drawer-content>
  <mat-drawer #drawer mode="side" opened="true" class="!flex flex-col flex-auto min-w-0 relative h-full w-3/4"
    position="end">
    <div class="relative flex flex-col h-full w-full overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer>
</mat-drawer-container>

<ng-template #dlgCreateDichvu>
  <div class="min-w-[375px]">
    <div mat-dialog-title>Thêm Mới Dịch Vụ</div>
    <div mat-dialog-content>
      <div class="flex flex-col w-full space-y-4 p-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tiêu Đề</mat-label>
          <input matInput [(ngModel)]="Dichvu.Title" [ngModelOptions]="{standalone: true}" placeholder="Tiêu Đề"
            (input)="convertToSlugDichvu(Dichvu.Title)">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Slug</mat-label>
          <input matInput [(ngModel)]="Dichvu.Slug" [ngModelOptions]="{standalone: true}" placeholder="Slug">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Danh Mục</mat-label>
          <mat-select [(ngModel)]="Dichvu.idDM" [ngModelOptions]="{standalone: true}">
            <mat-option [value]="item.id" *ngFor="let item of Lists">{{item.Title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>

<ng-template #dialogTemplate>
  <div class="min-w-[375px]">
    <div mat-dialog-title>Thêm Mới</div>
    <div mat-dialog-content>
      <div class="flex flex-col w-full space-y-4 p-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tiêu Đề</mat-label>
          <input matInput [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" placeholder="Tiêu Đề"
            (input)="convertToSlug(Detail.Title)">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Slug</mat-label>
          <input matInput [(ngModel)]="Detail.Slug" [ngModelOptions]="{standalone: true}" placeholder="Số Điện Thoại">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Danh Mục</mat-label>
          <mat-select [(ngModel)]="Detail.pid" [ngModelOptions]="{standalone: true}">
            <mat-option [value]="item.id" *ngFor="let item of Lists">{{item.Title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>

<ng-template #dialogEdit>
  <div class="min-w-[375px]">
    <div mat-dialog-title>Cập Nhật</div>
    <div mat-dialog-content>
      <div class="flex flex-col w-full space-y-4 p-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tiêu Đề</mat-label>
          <input matInput [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" placeholder="Tiêu Đề"
            (input)="convertToSlug(Detail.Title)">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Slug</mat-label>
          <input matInput [(ngModel)]="Detail.Slug" [ngModelOptions]="{standalone: true}" placeholder="Số Điện Thoại">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Danh Mục</mat-label>
          <mat-select [(ngModel)]="Detail.pid" [ngModelOptions]="{standalone: true}">
            <mat-option [value]="item.id" *ngFor="let item of Lists">{{item.Title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Cập Nhật</button>
    </div>
  </div>
</ng-template>

<ng-template #dialogDeleteCate>
  <div class="min-w-[375px]">
    <div mat-dialog-title class="text-center">Xoá Danh Mục</div>
    <div mat-dialog-content>
      <div class="flex flex-col w-full space-y-4 p-4">
        Bạn có chắc chắn xoá danh mục 
      </div>
    </div>
    <div mat-dialog-actions class="justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>

<ng-template #dlgDeleteDichvu>
  <div class="min-w-[375px]">
    <div mat-dialog-title class="text-center">Xoá Dịch Vụ</div>
    <div mat-dialog-content>
      <div class="flex flex-col w-full space-y-4 p-4">
        Bạn có chắc chắn xoá dịch vụ
      </div>
    </div>
    <div mat-dialog-actions class="justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>