<mat-drawer-container class="example-container w-full h-full" autosize>
  <mat-drawer #drawer mode="side" class="!flex flex-col flex-auto min-w-0 relative h-full lg:w-2/3 w-full"
    position="end">
    <div class="relative flex flex-col h-full w-full overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer>
  <mat-drawer-content class="!flex flex-col flex-auto min-w-0 relative bg-white !h-[90vh]">
    <div class="relative border-b flex flex-col">
      <div class="flex flex-row space-x-2 justify-between items-center p-2 h-16">
        <mat-form-field appearance="outline" class="w-full text-xs">
          <mat-label>Tiêu Đề</mat-label>
          <input matInput (keyup)="applyFilter($event)" class="w-full" placeholder="Mô Tả">
          <span matPrefix class="material-symbols-outlined mr-2">search</span>
        </mat-form-field>
      </div>
      <div class="flex flex-row space-x-3 items-center p-2">
        <!-- <div class="relative mt-1 lg:w-80">
          <input (keyup)="applyFilter($event)" type="text" name="email" id="topbar-search"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5"
            placeholder="Tìm Kiếm">
        </div> -->
        <div class="flex flex-wrap space-x-3 cursor-pointer">
          <div (click)="writeExcelFile()" class="flex flex-col items-center p-2 hover:bg-gray-200 rounded-lg">
            <span class="material-symbols-outlined text-xl" matTooltip="Upload File">file_download</span>
            <span class="text-xs">Download</span>
          </div>
          <!-- <div (click)="uploadfile.click()"
            class="flex flex-col items-center p-2 hover:bg-gray-200 rounded-lg">
            <span class="material-symbols-outlined text-xl" matTooltip="Upload File">file_upload</span>
            <span class="text-xs">Upload</span>
            <input class="hidden" (change)="readExcelFile($event)" type="file" #uploadfile>
          </div> -->
          <div (click)="LoadDrive()"
            class="flex flex-col items-center p-2 text-center justify-center hover:bg-gray-200 rounded-lg">
            <span class="material-symbols-outlined text-xl" matTooltip="Drive">cloud_download</span>
            <span class="text-xs">Drive ({{Lists.length||0}})</span>
          </div>
          <div *ngIf="Lists.length>0" (click)="SyncDrive()"
            class="flex flex-col items-center p-2 text-center justify-center hover:bg-gray-200 rounded-lg">
            <span class="material-symbols-outlined text-xl" matTooltip="Drive">cloud_sync</span>
            <span class="text-xs">Sync ({{FilterLists.length||0}}/{{Lists.length||0}})</span>
          </div>
          <div (click)="openDialog(dialogTemplate);Detail = {}"
            class="flex flex-col items-center p-2 text-center justify-center hover:bg-gray-200 rounded-lg">
            <span class="material-symbols-outlined text-xl" matTooltip="Drive">add_circle</span>
            <span class="text-xs">Thêm Mới</span>
          </div>

        </div>
      </div>
    </div>
    <div class="relative flex flex-col h-full w-full overflow-auto">
      <div class="flex flex-col p-4">
        <!-- <div class="flex flex-row justify-between items-center p-4 hover:bg-gray-200"
          *ngFor="let item of FilterLists; let i = index">
         <div class="flex flex-row space-x-2 items-center justify-between w-full" [routerLink]="[item.id]"
            routerLinkActive="font-bold" (click)="drawer.open()">
            <div class="flex flex-row space-x-4 items-center">
              <img [src]="item.Image.src||'https://tazaskinclinic.com/images/taza-skin-clinic-logo.svg'" class="h-10">
              <div class="flex flex-col">
                <span>{{item.Title}}</span>
                <span class="italic text-xs">{{item.Type}}</span>
              </div>
            </div>
            <button mat-icon-button (click)="openDeleteDialog(dlgDeleteTemplate,item)">
              <span class="material-symbols-outlined text-xl text-red-500" matTooltip="Xoá">delete</span>
            </button>
          </div>
        </div> -->
        <mat-tree class="example-list cursor-pointer" cdkDropList (cdkDropListDropped)="drop($event)"
          [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <div cdkDrag
              class="flex flex-row space-x-2 p-3 w-full rounded-lg bg-white hover:bg-gray-100 hover:font-bold">
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              <span class="material-symbols-outlined" cdkDragHandle>
                drag_indicator
              </span>
              <span [routerLink]="[node.id]">
                {{node.Ordering}} - {{node.Title}}
              </span>
            </div>
          </mat-tree-node>
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="pl-2">
            <div cdkDrag
              class="flex flex-row space-x-2 items-center p-3 w-full rounded-lg bg-white hover:bg-gray-100 hover:font-bold"
              routerLinkActive="bg-gray-100 font-bold">
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              <span class="material-symbols-outlined" cdkDragHandle>
                drag_indicator
              </span>
              <span [routerLink]="[node.id]">
                {{node.Ordering}} - {{node.Title}}
              </span>
              <span mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.Title">
                <span
                  class="material-symbols-outlined">{{treeControl.isExpanded(node)?'expand_more':'navigate_next'}}</span>
              </span>
            </div>
          </mat-tree-node>
        </mat-tree>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<ng-template #dialogTemplate>
  <div class="lg:min-w-[400px]">
    <div mat-dialog-title>Thêm Mới</div>
    <div mat-dialog-content>
      <div class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>Menu Cha</mat-label>
          <mat-select [(ngModel)]="Detail.pid" [ngModelOptions]="{standalone: true}">
            <mat-option [value]="item.id" *ngFor="let item of FilterLists">{{item.Title}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-span-2">
          <mat-label>Tiêu Đề</mat-label>
          <input (input)="FillSlug()" [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" matInput
            type="text" class="w-full" placeholder="Tiêu Đề" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-span-2">
          <mat-label>Liên Kết</mat-label>
          <input [(ngModel)]="Detail.Slug" [ngModelOptions]="{standalone: true}" matInput type="text" class="w-full"
            placeholder="Liên Kết" />
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="flex flex-row space-x-2 justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>
<ng-template #dlgDeleteTemplate>
  <div>
    <div mat-dialog-title>Xoá</div>
    <div mat-dialog-content>
      <span class="font-bold text-red-500">Bạn Có Chắc Chắn Xoá</span>
    </div>
    <div mat-dialog-actions class="flex flex-row space-x-2 justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>