<div class="!flex flex-col flex-auto min-w-0 relative bg-white">
  <div class="relative border-b flex flex-row justify-between items-center p-3">
    <span class="material-icons p-3 hover:bg-gray-200 rounded-full" [routerLink]="['../']" (click)="CloseDrawer()">
      arrow_back
    </span>
    <div class="text-xl">{{Detail.Title}}</div>
    <div>
      <button mat-raised-button color="primary" (click)="Update(Detail)">Cập Nhật</button>
    </div>
  </div>
  <div class="relative h-full w-full overflow-auto flex flex-col space-y-2 justify-between p-4">
    <div class="flex flex-col space-y-3 p-4 blog tintuc-sukien">
        <div class="w-full flex flex-col space-y-2  p-3">
            <mat-form-field appearance="outline">
              <mat-label>Tiêu Đề</mat-label>
              <input [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" matInput type="text"
                class="w-full" placeholder="Tiêu Đề" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Địa Chỉ</mat-label>
              <input [(ngModel)]="Detail.Address" [ngModelOptions]="{standalone: true}" matInput type="text"
                class="w-full" placeholder="Địa Chỉ" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Link Google Map</mat-label>
              <input [(ngModel)]="Detail.Linkmap" [ngModelOptions]="{standalone: true}" matInput type="text"
                class="w-full" placeholder="Link Google Map" />
            </mat-form-field>
              <div class="grid grid-cols-4 gap-2" *ngFor="let item of Detail.ListSocial;let i = index">
                <mat-form-field appearance="outline">
                  <mat-label>Tiêu Đề</mat-label>
                  <input [(ngModel)]="Detail.ListSocial[i].Title" [ngModelOptions]="{standalone: true}" matInput type="text"
                    class="w-full" placeholder="Tiêu Đề" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Key</mat-label>
                  <input [(ngModel)]="Detail.ListSocial[i].Key" [ngModelOptions]="{standalone: true}" matInput type="text"
                    class="w-full" placeholder="Key" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Value</mat-label>
                  <input [(ngModel)]="Detail.ListSocial[i].Value" [ngModelOptions]="{standalone: true}" matInput type="text"
                    class="w-full" placeholder="Value" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Liên Kết</mat-label>
                  <input [(ngModel)]="Detail.ListSocial[i].LinkUrl" [ngModelOptions]="{standalone: true}" matInput type="text"
                    class="w-full" placeholder="Liên Kết" />
                </mat-form-field>
              </div> 
              <div class="text-center"><button mat-raised-button color="primary" (click)="AddSocial()">Thêm Mới</button></div>          
          <editor [apiKey]="APITINYMCE" [(ngModel)]="Detail.Mota" [ngModelOptions]="{standalone: true}"
            [init]="configTiny"></editor>
        </div>
      </div>
    </div>
  </div>