<div class="!flex flex-col flex-auto min-w-0 relative bg-white">
  <div class="relative border-b flex flex-row justify-between items-center p-3">
    <span class="material-icons p-3 hover:bg-gray-200 rounded-full" [routerLink]="['../']" (click)="CloseDrawer()">
      arrow_back
    </span>
    <div>
      <button mat-raised-button color="primary" (click)="Update(Detail)">Cập Nhật</button>
    </div>
  </div>
  <div class="relative h-full w-full overflow-auto flex flex-col space-y-2 justify-between p-4">
    <div class="flex flex-col space-y-3 p-4 blog tintuc-sukien">
        <div class="w-full grid grid-cols-2 gap-4 space-y-2 rounded-lg shadow bg-white p-3">
            <mat-form-field appearance="outline" class="col-span-2">
              <mat-label>Tiêu Đề</mat-label>
              <input [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" matInput type="text"
                class="w-full" placeholder="Tiêu Đề" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Doanh Thu Từ</mat-label>
              <input [(ngModel)]="Detail.FromAmount" [ngModelOptions]="{standalone: true}" matInput type="text"
                class="w-full" placeholder="Doanh Thu Từ" />
                <mat-hint>{{(Detail.FromAmount | number:'1.0-0')||'0'}}đ</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Doanh Thu Đến</mat-label>
              <input [(ngModel)]="Detail.ToAmount" [ngModelOptions]="{standalone: true}" matInput type="text"
                class="w-full" placeholder="Doanh Thu Đến" />
                <mat-hint>{{(Detail.ToAmount | number:'1.0-0')||'0'}}đ</mat-hint>
            </mat-form-field>
          <editor class="col-span-2" [apiKey]="APITINYMCE" [(ngModel)]="Detail.Mota" [ngModelOptions]="{standalone: true}" [init]="configTiny"></editor>
        </div>
      </div>
    </div>
  </div>