<mat-drawer-container class="example-container w-full h-full" autosize>
  <mat-drawer #drawer mode="side" class="!flex flex-col flex-auto min-w-0 relative h-full w-2/3" position="end">
    <div class="relative flex flex-col h-full w-full overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer>
  <mat-drawer-content class="!flex flex-col flex-auto min-w-0 relative bg-white !h-[90vh]">
    <div class="w-full flex flex-col p-4 justify-center items-center space-y-2">
      <div class="flex flex-row space-x-2 items-center">
        <!-- <mat-form-field appearance="outline" class="text-xs">
          <mat-label>Tìm Kiếm</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Mô Tả">
          <span matPrefix class="material-symbols-outlined mr-2">search</span>
        </mat-form-field> -->
        <mat-form-field appearance="outline">
          <mat-label>Chọn Khoảng Thời Gian</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="Từ Ngày" [(ngModel)]="SearchParams.Batdau" [ngModelOptions]="{standalone: true}">
            <input matEndDate placeholder="Đến Ngày" [(ngModel)]="SearchParams.Ketthuc" [ngModelOptions]="{standalone: true}">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
              <button mat-button matDateRangePickerCancel>Huỷ</button>
              <button mat-raised-button color="primary" matDateRangePickerApply (click)="ChoosenDate()">Đồng ý</button>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>
        </mat-form-field>
        <div>
          <span class="material-symbols-outlined border rounded-full p-2 hover:bg-gray-200" (click)="Reload()">sync</span>
        </div>
        <!-- <mat-form-field appearance="outline">
            <mat-label>Trạng Thái</mat-label>
            <mat-select [(ngModel)]="FilterStatus" [ngModelOptions]="{standalone: true}" (selectionChange)="ChangeStatus($event)">
              <mat-option [value]="item.key" *ngFor="let item of Status|keyvalue">{{item.value}}</mat-option>
            </mat-select>
          </mat-form-field> -->
          <div> 
          <!-- <span class="material-symbols-outlined {{isReport?'border rounded-lg':''}} p-2" (click)="isReport=!isReport">pie_chart</span> -->
        </div>
      </div>
      <div class="flex flex-row text-xs">
         <div (click)="ChangeStatusButton(item)" class="flex flex-col lg:space-x-2 lg:flex-row items-center border rounded-lg p-2 text-white {{Style[item]}}" *ngFor="let item of [0,1,2,4,3]">
              <span>{{Status[item]}}</span>
              <span class="font-bold">{{Report(ListStatus,item)}}</span>
         </div> 
      </div>
    </div>
    <div class="relative flex flex-col items-center p-4 h-full w-full overflow-auto">
      <div class="w-full flex flex-col lg:max-w-xl space-y-3">
        <div class="flex flex-row justify-between items-center hover:bg-gray-200 hover:bg-opacity-50 border rounded-lg"
          *ngFor="let item of FilterLists; let i = index">
          <div class="flex flex-col space-y-2 items-center w-full">
            <div class="w-full flex flex-row justify-between p-2 text-white {{Style[item.Status]}} items-center rounded-t-lg">
            <span>{{Status[item.Status]}}</span>
            <button mat-icon-button *ngIf="item.Status<2" (click)="SendZNS(item)">Gửi</button>
            </div>
            <div class="w-full p-2 grid grid-cols-1 gap-2">
              <div class="flex flex-col">
                <div class="flex flex-col space-y-3 p-2">
                  <div class="flex flex-row justify-between border-b">
                    <span>Chi Nhánh : </span>
                    <span class="font-bold">{{item.BranchName}}</span>
                  </div>
                  <div class="flex flex-row justify-between border-b">
                    <span>Dịch Vụ : </span>
                    <span class="font-bold">{{item.ServiceName}}</span>
                  </div>
                  <div class="flex flex-row justify-between border-b">
                    <span>Khách hàng : </span>
                    <span class="font-bold">{{item.CustName}}</span>
                  </div>
                  <div class="flex flex-row justify-between border-b">
                    <span>Số Điện Thoại : </span>
                    <span class="font-bold">{{item.SDT}}</span>
                  </div>
                  <div class="flex flex-row justify-between border-b">
                    <span>Ngày Tạo : </span>
                    <span class="font-bold">{{item.Created|date:'HH:mm:ss dd/MM/yyyy'}}</span>
                  </div>
                  <div class="flex flex-row justify-between border-b">
                    <span>Thời Gian Gửi ZNS : </span>
                    <span class="font-bold {{item.StatusZNS==0?'text-red-500':'text-blue-500'}}">{{item.TimeZNS|date:'HH:mm:ss dd/MM/yyyy'}}</span>
                  </div>
                  <div class="flex flex-row justify-between">
                    <span>Tin Nhắn SMS : </span>
                    <span></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- <button mat-icon-button (click)="openDeleteDialog(dlgDeleteTemplate,item)">
              <span class="material-symbols-outlined text-xl text-red-500" matTooltip="Xoá">delete</span>
            </button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="relative border-t flex flex-col">
      <mat-paginator (page)="onPageChange($event)" [length]="PagiLength"  [pageSizeOptions]="[5,Total]"></mat-paginator>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<ng-template #dialogTemplate>
  <div class="min-w-[672px]">
    <div mat-dialog-title>Thêm Mới</div>
    <div mat-dialog-content>
      <div class="flex flex-col w-full space-y-4 p-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tiêu Đề</mat-label>
          <input matInput [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" placeholder="Tiêu Đề">
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="flex flex-row space-x-2 justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>
<ng-template #dlgDeleteTemplate>
  <div>
    <div mat-dialog-title>Xoá</div>
    <div mat-dialog-content>
      <span class="font-bold text-red-500">Bạn Có Chắc Chắn Xoá</span>
    </div>
    <div mat-dialog-actions class="flex flex-row space-x-2 justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>