<mat-drawer-container class="example-container w-full h-full" autosize>
  <mat-drawer #drawer mode="side" class="!flex flex-col flex-auto min-w-0 relative h-full w-2/3" position="end">
    <div class="relative flex flex-col h-full w-full overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer>
  <mat-drawer-content class="!flex flex-col flex-auto min-w-0 relative bg-white !h-[90vh]">
    <div class="relative border-b flex flex-col">
      <!-- <div class="flex flex-row space-x-2 justify-between items-center p-2 h-16">
        <mat-form-field appearance="outline" class="w-full text-xs">
          <mat-label>Tiêu Đề</mat-label>
          <input matInput (keyup)="applyFilter($event)" class="w-full" placeholder="Mô Tả">
          <span matPrefix class="material-symbols-outlined mr-2">search</span>
        </mat-form-field>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <span class="material-symbols-outlined">more_vert</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog(dialogTemplate);Detail = {}">
            <div class="flex flex-row space-x-2 items-center">
              <span class="material-symbols-outlined text-xl" matTooltip="Tùy Chỉnh">add_circle</span>
              <span class="text-sm">Thêm Mới</span>
            </div>
          </button>
          <button mat-menu-item>
            <div class="flex flex-row space-x-2 items-center">
              <span class="material-symbols-outlined text-xl" matTooltip="Tùy Chỉnh">tune</span>
              <span class="text-sm">Cấu Hình</span>
            </div>
          </button>
          <button mat-menu-item>
            <div class="flex flex-row space-x-2 items-center">
              <span class="material-symbols-outlined text-xl" matTooltip="Lấy Mẫu">file_download</span>
              <span class="text-sm">Download</span>
            </div>
          </button>
          <button mat-menu-item>
            <div class="flex flex-row space-x-2 items-center">
              <span class="material-symbols-outlined text-xl" matTooltip="Upload File">file_upload</span>
              <span class="text-sm">Upload</span>
            </div>
          </button>
        </mat-menu>
      </div> -->
    </div>
    <div class="relative flex flex-col items-center p-4 h-full w-full overflow-auto">
      <div class="flex flex-col max-w-4xl rounded-lg border">
        <div class="flex flex-row justify-between items-center p-2 hover:bg-gray-200 border-b"
          *ngFor="let item of FilterLists; let i = index">
          <div class="flex flex-row space-x-2 items-center w-full">
            <div class="w-full grid grid-cols-2 gap-2">
              <div class="flex flex-row space-x-2">
                <!-- <img [src]="'https://tazaskinclinic.com/images/taza-skin-clinic-logo.svg'" class="h-10 lg:block hidden"> -->
                <div class="flex flex-col">
                  <div class="flex flex-row">
                    <span class="lg:block hidden">Khách hàng : </span>
                    <span>{{item.CustName}}</span>
                  </div>
                  <div class="flex flex-row">
                    <span class="lg:block hidden">Chi Nhánh : </span>
                    <span>{{GetNameChinhanh(item.Dulieu.BranchID)}}</span>
                  </div>
                  <div class="flex flex-row">
                    <span class="lg:block hidden">Giới Tính : </span>
                    <span>{{item.Gender}}</span>
                  </div>
                  <div class="flex flex-row">
                    <span class="lg:block hidden">Số Điện Thoại : </span>
                    <span>{{item.SDT}}</span>
                  </div>
                  <div class="flex flex-grow">
                    <span class="lg:block hidden">Gửi ZNS Dự kiến : </span>
                    <span class="font-bold {{item.StatusZNS==0?'text-red-500':'text-blue-500'}}">{{item.TimeZNS|date:'hh:mm:ss dd/MM/yyyy'}}</span>
                  </div>
                  <div class="flex flex-row">
                    <span class="lg:block hidden">Gửi SMS : </span>
                    <span></span>
                  </div>
                </div>
              </div>
              <div class="flex flex-col">
                <div class="flex flex-row space-x-2  justify-end">
                  <span class="lg:block hidden">Mã Phiếu:</span>
                  <span>{{item.InvoiceNum}}</span>
                </div>
                <div class="flex flex-row space-x-2 justify-end">
                  <span class="lg:block hidden">Ngày Tạo Phiếu:</span>
                  <span>{{item.Created|date:'hh:mm:ss dd/MM/yyyy'}}</span>
                </div>
                <div class="flex flex-row space-x-2 items-center  justify-end">
                  <span>Tiền Thu</span>
                  <span>{{(item.Amount|number:'1.0-0')}}đ</span>
                </div>
                <div class="flex flex-row space-x-2 items-center  justify-end">
                  <span>Phát Sinh</span>
                  <span>{{(item.PriceDiscounted|number:'1.0-0')}}đ</span>
                </div>
                <div class="flex flex-row space-x-2 items-center  justify-end">
                  <span>Thanh Toán</span>
                  <span>{{(item.Paid|number:'1.0-0')}}đ</span>
                </div>
                <div class="flex flex-row space-x-2 items-center  justify-end">
                  <span>Công Nợ</span>
                  <span>{{(item.Debt|number:'1.0-0')}}đ</span>
                </div>
              </div>
            </div>
            <!-- <button mat-icon-button (click)="openDeleteDialog(dlgDeleteTemplate,item)">
              <span class="material-symbols-outlined text-xl text-red-500" matTooltip="Xoá">delete</span>
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<ng-template #dialogTemplate>
  <div class="min-w-[672px]">
    <div mat-dialog-title>Thêm Mới</div>
    <div mat-dialog-content>
      <div class="flex flex-col w-full space-y-4 p-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tiêu Đề</mat-label>
          <input matInput [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" placeholder="Tiêu Đề">
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="flex flex-row space-x-2 justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>
<ng-template #dlgDeleteTemplate>
  <div>
    <div mat-dialog-title>Xoá</div>
    <div mat-dialog-content>
      <span class="font-bold text-red-500">Bạn Có Chắc Chắn Xoá</span>
    </div>
    <div mat-dialog-actions class="flex flex-row space-x-2 justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
</ng-template>