<div class="!flex flex-col flex-auto min-w-0 relative bg-white">
  <div class="relative border-b flex flex-row justify-between items-center p-2">
    <span class="material-icons p-3 hover:bg-gray-200 rounded-full" [routerLink]="['../']" (click)="CloseDrawer()">
      arrow_back
    </span>
    <div class="text-xl">{{Detail.Title}}</div>
    <div>
      <button mat-raised-button color="primary" (click)="Update(Detail)">Cập Nhật</button>
    </div>
  </div>
  <div class="relative h-full w-full overflow-auto flex flex-col space-y-2 justify-between p-4">
    <div class="flex flex-col space-y-3 p-4">
        <div class="w-full grid lg:grid-cols-2 grid-cols-1 gap-2 p-3">
            <mat-form-field appearance="outline">
              <mat-label>Tiêu Đề</mat-label>
              <input [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" matInput type="text"
                class="w-full" placeholder="Tiêu Đề" />
            </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Danh Mục</mat-label>
                  <mat-select [(ngModel)]="Detail.idDM" [ngModelOptions]="{standalone: true}">
                    <mat-option [value]="item.id" *ngFor="let item of Danhmucs">{{item.Title}}</mat-option>
                  </mat-select>
                </mat-form-field>


          <editor class="col-span-2" [apiKey]="APITINYMCE" [(ngModel)]="Detail.Mota" [ngModelOptions]="{standalone: true}"
            [init]="configTiny"></editor>
        </div>
      </div>
    </div>
  </div>